axre/axre-ui/axre/axre-wire/src/main/webapp/WEB-INF/wsdl/ShakehandContractMock.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.xybase.com/ruleengine/ws/ShakehandContractMock"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="ShakehandContractMock"
	targetNamespace="http://www.xybase.com/ruleengine/ws/ShakehandContractMock">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.xybase.com/ruleengine/ws/ShakehandContractMock">
            <xsd:element name="ShakehandContractMockRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="OperationName" type="xsd:string" minOccurs="1"/>
                        <xsd:element name="TestKey" type="xsd:string" minOccurs="1"/>
                        <xsd:element name="TestValue" type="xsd:string" minOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ShakehandContractMockResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="OperationName" type="xsd:string"/>
                        <xsd:element name="TestKey" type="xsd:string"/>
                        <xsd:element name="TestValue" type="xsd:string"/>
                        <xsd:element name="TestResult" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ShakehandContractMockRequest">
        <wsdl:part name="parameters" element="tns:ShakehandContractMockRequest"/>
    </wsdl:message>
    <wsdl:message name="ShakehandContractMockResponse">
        <wsdl:part name="parameters" element="tns:ShakehandContractMockResponse"/>
    </wsdl:message>
    <wsdl:portType name="ShakehandContractMockPort">
        <wsdl:operation name="ShakehandContractMock">
            <wsdl:input message="tns:ShakehandContractMockRequest"/>
            <wsdl:output message="tns:ShakehandContractMockResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ShakehandContractMockBinding" type="tns:ShakehandContractMockPort">
        <soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="ShakehandContractMock">
            <soap:operation soapAction="http://www.xybase.com/ruleengine/ws/ShakehandContractMock"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ShakehandContractMockService">
        <wsdl:port name="ShakehandContractMockPort" binding="tns:ShakehandContractMockBinding">
            <soap:address location="http://localhost:8080/axrewire/ShakehandContractMock"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>